<div id="edit-work" class="container">
    <app-navbar></app-navbar>
    <div class="padd">
        <h2>Edit works <a routerLink="/dashboard">(go back)</a></h2>
        
        <div class="row">
            <div id="gallery" class="col-12 col-md-2"> 
                <article *ngFor="let item of works" (click)="select(item._id)">
                    <img [src]="item.link" alt="work">
                </article>
            </div>

            <div class="col-12 col-md-6 offset-md-3">
                <div *ngIf="selected" id="info">
                    <img [src]="selected.link">

                    <div class="horizontal">
                        <h2 *ngIf="!showTitleControls" >{{selected.titulo}}</h2>
                        <i *ngIf="!showTitleControls" class="fas fa-edit"  (click)="toggleTitleControls()"></i>
                        <input type="text" placeholder="title" *ngIf="showTitleControls" [(ngModel)]="selected.titulo" >
                        <button *ngIf="showTitleControls" (click)="toggleTitleControls()">Done</button>
                    </div>
                    
                    <div class="horizontal">
                        <p *ngIf="!showDescControls">{{selected.descripcion}}</p>
                        <i class="fas fa-edit" *ngIf="!showDescControls" (click)="toggleDescControls()"></i>
                        <textarea cols="30" rows="10" *ngIf="showDescControls" [(ngModel)]="selected.descripcion"></textarea>
                        <button *ngIf="showDescControls" (click)="toggleDescControls()">Done</button>
                    </div>
                    
                    <button id="button-update" (click)="update()">Update</button>

                    <div *ngIf="message" class="fade-in message">{{message}}</div>
                </div>
            </div>
        </div>
    </div>
</div>