
@import url("../utils/animations.scss");
@import "../utils/colors.scss";

#edit-work{
    background-color: $bg;
    min-height: 100vh;
    padding: 0px;
}

.padd{
    padding: 20px;
}

article{
    margin: 20px;
}

article img{
    width: 150px;
    border: 6px solid black;
}


#info img{
    width: 80%;
    border: 6px solid black;
    margin-bottom: 50px;
}

#info p{
    text-align: justify;
    width: 80%;
}

.horizontal{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

i{
    cursor: pointer;
}

#button-update{
    background-color: black;
    color: white;
    padding: 15px;
    border-radius: 20px;
}