
<div class="container" id="upload">

    <app-navbar></app-navbar>

    <div class="row full-height" id="row">
        <div class="col-12 col-md-5" id="info">
            <a routerLink="/dashboard">Go back</a>
            <input type="text" placeholder="Work name" [(ngModel)]="titulo">
            <textarea placeholder="Description" cols="30" rows="10" [(ngModel)]="desc"></textarea>

            <input type="file" accept="image/png, image/gif, image/jpeg, image/jpg" (change)="handleChange($event)">
            <button (click)="uploadWork()">Upload</button>

            <div id="message" class="fade-in message" *ngIf="message">{{message}}</div>
            
        </div>

        <div class="col-12 col-md-6" id="image-container">
            <img [src]="image" alt="Error loading image" *ngIf="image">
        </div>
    </div>

</div>