
@import url("../utils/animations.scss");
@import '../utils/colors.scss';

#upload{
    background-color: $bg;
    height: 100vh;
    padding: 0px;
}

.full-height{
    height: 70%;
}

#info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#info input{
    width: 70%;
    height: 40px;
    border-radius: 7px;
    margin: 30px;
}

#info textarea{
    border-radius: 7px;
}

#info button{
    background-color: black;
    color: white;
    border-radius: 20px;
    padding: 12px 20px;
}


#image-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

#image-container img{
    width: 100%;
}