nav{
    display: flex;
    justify-content: space-between;
    padding: 40px;
    background-color: black;
    color: white;
    margin-bottom: 40px;
}

a{
    color: white;
    text-decoration: none;
}

h5{
    cursor: pointer;
}