<div id="galeria">
    <h3>Position: {{index}}</h3>
    <div>
        <img [src]="indexed_works[index].link" alt="work" *ngIf="indexed_works.length" id="current-image">
    </div>
    <div id="controls">
        <i class="fas fa-caret-left" (click)="imenosmenos()"></i>
        <i class="fas fa-caret-right" (click)="iplusplus()"></i>
    </div>
    <div id="options">
        <h5 (click)="toggleMenu()">Change work for position {{index}}</h5>
        <h5 (click)="removeSlot()" >Remove slot</h5>
        <h5 (click)="updateIndex()">Save works order</h5>
        <h5 id="add-new-slot" *ngIf="index==indexed_works.length-1" (click)="addNewSlot()" >Add new slot!</h5>
    </div>

    <div *ngIf="openMenu" id="menu">
        <div id="article-container">
            <article *ngFor="let item of works" (click)="selectWork(item._id)">
                <img [src]="item.link" alt="work">
                <h5>{{item.titulo}}</h5>
            </article>
        </div>
        <h4 (click)="toggleMenu()">Cerrar</h4>
    </div>

    <div class="message fade-in" *ngIf="message">{{message}}</div>
</div>