
@import url("../utils/animations.scss");
@import "../utils/colors.scss";

#galeria{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

#current-image{
    width: 300px;
    height: 300px;
    border: 5px solid black;
}

#controls{
    display: flex;
    justify-content: space-around;
    font-size: 30px;
    width: 100%;
}

#controls i{
    cursor: pointer;
}

#menu{
    position: absolute;
    background-color: #000000c9;
    left: 0px;
    top: 0px;
    right: 0px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    color: white;
}

#menu #article-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#menu img{
    width: 100%;
    border: 6px solid black;
}

#menu article{
    width: 120px;
    height: fit-content;
    cursor: pointer;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#menu h5{
    font-size: 12px;
}

#menu h4{
    cursor: pointer;
}

#options{
    margin: 20px;
}

#options h5:hover{
    cursor: pointer;
    color: gray;
}