<div id="login">
    <div id="login-box">
        <h1>Inicio de sesion</h1>
        <input type="text" placeholder="Nombre de usuario" [(ngModel)]='user'>
        <input type="password" placeholder="Contraseña" [(ngModel)]='pass'>
        <div id="button" (click)='handleClick()'>
            Ingresar
        </div>
    </div>

    <div id="message" class="fade-in" *ngIf="showMessage">
        {{message}}
    </div>
</div>