
@import url("../utils/animations.scss");
@import "../utils/colors.scss";

#login{
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../../assets/background1.jpg");
    background-size: cover;
}

#login-box{
    border: 2px solid purple;
    border-radius: 10px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f5f7f9;
}

h1{
    margin-top: 0px;
}

input{
    height: 30px;
    margin-bottom: 15px;
    border-radius: 5px;
}

#button{
    color: white;
    background-color: black;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
}

#message{
    margin-top: 40px;
    border: 1px solid black;
    border-radius: 15px;
    background-color: $msg; 
    padding: 10px;
}