
@import url("../utils/animations.scss");
@import '../utils/colors.scss';

#dashboard{
    background-color: $bg;
    min-height: 100vh;
    padding: 0px;
}

#info{
    margin-left: 30px;
}

#info img{
    width: 100%;
    border-radius: 10px;
}

#info p{
    text-align: justify;
    width: 80%;
}

#info .horizontal{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#info i{
    cursor: pointer;
}

#info #name input{
    margin: 30px 0px;
}

#info #name h1{
    margin: 30px 0px;
}

#info #desc button{
    margin: 5px;
}

#info #desc textarea{
    margin: 10px;
}

@media (max-width: 768px){
    #dashboard{
        height: auto;
        padding: 10px;
    }
    #info{
        margin-left: 0px;
    }
}