<div id="dashboard" class="container">
    
    <app-navbar></app-navbar>

    <div class="row">
        <div class="col-12 col-md-5" id="info">
            
            <h4>{{info.user}}</h4>
            <div>
                <img [src]="info.image" alt="profile">
                <div *ngIf="showProfileImageControls">
                    <input type="file" (change)='handleChange($event)'>
                    <button (click)="uploadProfileImage()">Subir</button>
                    <button (click)="swichProfileImageControls()">Cancelar</button>
                </div>
                <button *ngIf="!showProfileImageControls" (click)="swichProfileImageControls()">Cambiar imagen</button>
            </div>

            <div class="horizontal" id="name">
                <h1 *ngIf="!showNameControls">{{info.name}}</h1>
                <i class="far fa-edit" *ngIf="!showNameControls" (click)="switchNameControls()"></i>
                <input type="text" placeholder="New profile name" *ngIf="showNameControls" [(ngModel)]="newName">
                <button *ngIf="showNameControls" (click)="updateName()">Update</button>
                <button *ngIf="showNameControls" (click)="switchNameControls()">Cancel</button>
            </div>
            
            <div class="horizontal" id="desc">
                <p *ngIf="!showDescControls">{{info.desc}}</p>
                <i class="far fa-edit" *ngIf="!showDescControls" (click)="switchDescControls()"></i>
                <textarea cols="30" rows="10" placeholder="Description" *ngIf="showDescControls" [(ngModel)]="newDesc"></textarea>
                <div id="button-container">
                    <button *ngIf="showDescControls" (click)="updateDesc()">Update</button>
                    <button *ngIf="showDescControls" (click)="switchDescControls()">Cancel</button>
                </div>
            </div>

            <div class="message fade-in" *ngIf="message">{{message}}</div>
        </div>

        <div class="col-12 col-md-6">
            <h3><a routerLink="/upload">Upload a work</a></h3>
            <h3><a routerLink="/editwork">Edit a work</a></h3>
            <app-galeria></app-galeria>
        </div>
    </div>
</div>